/* == General Stylings == */
body {
	background-color: transparent;
	font-family: 'Oxygen', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html { 
  background:  rgb(100,148,196) url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-backQuattrocentoground-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Oxygen', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label {
	text-shadow: 0 1px 1px #222;
}


/* == Bootstrap Modifications ==*/
.nav {
	margin-bottom: 30px;
	background:rgba(255,255,255,0.5);
	border-radius:10px;
	padding: 0 25px;
	padding-bottom:25px;
	margin-top:20px;
}

.nav .marketing {
	margin-left: 18px;
}

.nav .marketing h3 {
	margin-top: 20px;
}

.panel {
	background-color: rgba(1,1,1,0.5);
	border-color: #333;
	color: #EEE;
	border-radius: 5px;
}

.panel-default > .panel-heading, .panel-footer {
	background: url(../images/panel.png);
	color: #C5C5C5;
	text-shadow: 0 -1px 1px #000;
	border-color: #222;
	background-color: #333;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
	border-top-color: #222222;
}

.panel-group .panel {
	border-radius: 5px;
}

#accordion .panel-title input {
	right: 25px;
	position: absolute;
}


/* == Application == */
.types-list label:first-child {
	margin-left: 10px;
}

.options .popover {
	width: 350px;
	color: #444;
}

.error-container {
	display: none;
}

.help {
	cursor: pointer;
}

.results {
	white-space: nowrap;
	overflow: hidden;
	max-height: 800px;
}

.results-header {
	margin-top: 20px;
}

.results-box h2 {
	margin: 0;
	text-shadow: 0 1px 1px #000;
}

.download {
	display: none;
}

.downloadAs {
	text-transform: uppercase;
}

.filegroup {
	font-size: 1.4em;
	font-weight: bold;
}



/* === Animated Loader === */
.bubblingG {
	text-align: center;
	width:320px;
	height:200px;
	margin: auto;
}

.bubblingG span {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	margin: 100px auto;
	background: #000000;
	-moz-border-radius: 200px;
	-moz-animation: bubblingG 1.3s infinite alternate;
	-webkit-border-radius: 200px;
	-webkit-animation: bubblingG 1.3s infinite alternate;
	-ms-border-radius: 200px;
	-ms-animation: bubblingG 1.3s infinite alternate;
	-o-border-radius: 200px;
	-o-animation: bubblingG 1.3s infinite alternate;
	border-radius: 200px;
	animation: bubblingG 1.3s infinite alternate;
}

#bubblingG_1 {
	-moz-animation-delay: 0s;
	-webkit-animation-delay: 0s;
	-ms-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
}

#bubblingG_2 {
	-moz-animation-delay: 0.39s;
	-webkit-animation-delay: 0.39s;
	-ms-animation-delay: 0.39s;
	-o-animation-delay: 0.39s;
	animation-delay: 0.39s;
}

#bubblingG_3 {
	-moz-animation-delay: 0.78s;
	-webkit-animation-delay: 0.78s;
	-ms-animation-delay: 0.78s;
	-o-animation-delay: 0.78s;
	animation-delay: 0.78s;
}

@-moz-keyframes bubblingG {
	0% {
		width: 40px;
		height: 40px;
		background-color:#000000;
		-moz-transform: translateY(0);
	}

	100% {
		width: 96px;
		height: 96px;
		background-color:#FFFFFF;
		-moz-transform: translateY(-84px);
	}

}

@-webkit-keyframes bubblingG {
	0% {
		width: 40px;
		height: 40px;
		background-color:#000000;
		-webkit-transform: translateY(0);
	}

	100% {
		width: 96px;
		height: 96px;
		background-color:#FFFFFF;
		-webkit-transform: translateY(-84px);
	}

}

@-ms-keyframes bubblingG {
	0% {
		width: 40px;
		height: 40px;
		background-color:#000000;
		-ms-transform: translateY(0);
	}

	100% {
		width: 96px;
		height: 96px;
		background-color:#FFFFFF;
		-ms-transform: translateY(-84px);
	}

}

@-o-keyframes bubblingG {
	0% {
		width: 40px;
		height: 40px;
		background-color:#000000;
		-o-transform: translateY(0);
	}

	100% {
		width: 96px;
		height: 96px;
		background-color:#FFFFFF;
		-o-transform: translateY(-84px);
	}

}

@keyframes bubblingG {
	0% {
		width: 40px;
		height: 40px;
		background-color:#000000;
		transform: translateY(0);
	}

	100% {
		width: 96px;
		height: 96px;
		background-color:#FFFFFF;
		transform: translateY(-84px);
	}

}

